# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
ENV/
env/

# Environment variables
.env
.env.*
!.env.example

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.cache/

# MyPy / type checking
.mypy_cache/
.dmypy.json
.dmypy/

# Jupyter
.ipynb_checkpoints/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Generated images
*.png

# Experiment Output
out/